 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
    border-bottom: 1px solid black ;
}

nav{
    margin-right: 130px;
}
ul{ 
    display: flex;
    font-weight: 540;
    list-style: none;
}

li{
    margin: 10px;
} 